<%- include header %>
<% posts.forEach(function (post, index) { %>
    <div class="post-lists">
        <p><h2><a href="#"><%= post.title %></a></h2></p>
        <p class="info">
          作者：<a href="#"><%= post.name %></a> | 
          时间：<%= post.time.toLocaleString() %>
        </p>
        <p><%- post.post %></p>
    </div>
<% }) %>
<%- include footer %>